/* #aba1.ui-tabs-active {
    background: red;
}
#aba2.ui-tabs-active {
    background: pink;
} */

#abas-salas-lista {
    position: sticky;
    top: 0;
    z-index: 2;
}

.sticky-tab {
    position: sticky;
    top: 45px;
    z-index: 2;
}

.pointer {
    cursor: pointer;
}

.fimDeSemana {
    background-color: chocolate;
}

.diaNaoUtil {
    background-color: lightcoral;
}